.sidebar {
    width: 250px;
    background-color: #C732B0;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar-content{
    height: 100%;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(255, 255, 255, 0.3);
}
.panel-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.links{
    width: 100%;
    min-height: 300px;
}
.panel-intro::after{
    content: "";
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.panel-intro img {
    width: 100px;
    margin-bottom: 20px;
}

.panel-intro h2{
    color: #fff;
    font-size: 18px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar a {
    display: block;
    padding: 16px;
    display: flex;
    color: #fff;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    transition: ease-in-out 0.2s;
    justify-content: center;
}

.sidebar a:hover {
    background-color: #DE3E82;
    border-left: .6rem solid #E16A4C;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-logout{
    background-color: #DE3E82;
    border: 0;
    padding: 10px 0;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    transition: ease-in-out 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-logout:hover {
    background-color: #E16A4C;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
