.content-panel {
    min-height: 100vh;
    margin-left: 250px;
    padding: 40px;
}

.content-panel h1 {
    font-size: 26px;
}

.intro-edit-courses{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.btn-add-course{
    background-color: #DE3E82;
    border: 0;
    padding: 10px 20px;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    transition: ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-add-course:hover {
    background-color: #E16A4C;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}